.contactBox {
  width: 50vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(27, 36, 47, 0.7);
  border: 2px solid rgb(5, 194, 201, 0.3);
  border-radius: 5rem;
}

.title h1 {
  font-size: 4rem;
  color: rgb(248, 61, 57, 0.8);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  overflow: hidden;
}

.form {
  height: 75%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.greetBox {
  height: 75%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.greetBox h1 {
  font-size: 5rem;
  color: rgba(255, 106, 1, 0.8);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation: greet 1s ease-out;
}

.inputBox,
.messageBox {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.messageBox {
  height: 50% !important;
}

.inputBox input,
.message {
  width: 100%;
  height: 95%;
  border: 1px solid #1b242f;
  color: #05c2c9;
  font-size: 1.2rem;
  padding: 0 1rem;
  background-color: rgb(255, 106, 1, 0.2);
}

.inputBox input:focus {
  outline: none;
}

.message {
  align-self: flex-start;
  margin-top: 0.2rem;
  padding-top: 1rem;
  font-size: 1.5rem !important;
  min-height: 95% !important;
  max-height: 130%;
  resize: vertical;
}
.message:focus {
  outline: none;
}

.formBtn {
  background-color: #1b242f;
  border: 1px solid #05c2c9;
  border-radius: 2rem;
  color: #05c2c9;
  font-size: 1.6rem;
  padding: 1rem 7rem;
  cursor: pointer;
  transition: all 0.6s;
  position: absolute;
  bottom: 2rem;
}

.formBtn:hover {
  color: #1b242f;
  border: 1px solid #1b242f;
  background-color: #ff6a01;
}

@keyframes greet {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 375px) {
  .contactBox {
    width: 80vw;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 1rem;
  }

  .title h1 {
    font-size: 2.5rem;
  }
}
