.expandedNav,
.cancelExpand {
  z-index: 998;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #1b242f;

  display: flex;
  align-items: center;
  justify-content: center;
  animation: expand 1s ease-out;
}

.cancelExpand {
  transform: translateY(-100%);
  animation: cExpand 1s ease-out;
}

.menuBox {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuBtn {
  width: auto;
  height: 15%;
  margin-bottom: 1rem;
  color: #05c2c9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  cursor: pointer;
  transition: 0.3s;
}

.menuBtn:hover {
  transform: scale(1.2) rotate(-10deg);
}

@keyframes expand {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cExpand {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
